@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

* {
    box-sizing: border-box;
}
/*STYLE OVERVIEW*/
/*color scheme*/
:root {
    --white: #FFFFFF;
    --black: #000000;

    --red-orange: #e6563b;
    --orange: #cea03d;
    --green: #7cb06c;
    --emerald: #00aba9;
    --off-white: #f0f0f0;
    --gray: #e6e6e6;
}

body {
    font-family: 'Abel', sans-serif;
    font-size: 0.75rem;
    background-color: #f0f0f0;
}
/*font sizes
header font
 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

/*header font-sizes*/

h1 {
    font-size: 50px;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 0.75rem;
}

.row {
    margin: 0;
}

/*header*/

/*section uno*/


/*main*/




/*X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*WIREFRAMES ACCORDING TO THE DEVICE SCREEN SIZE (XS, SM, MD, LG, XL)*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .extra-small-logo-only {
        display: none;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up) - DON'T NEED
@media (min-width: 1400px) {

}
*/
 */